@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-secondary: #F59E0B;
  --color-accent: #10B981;
  --color-dark: #111827;
  
  --font-sans: 'Inter', 'sans-serif';

  --animate-pulse-fast: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
}
